# Official Graph Verification

|    |   Case ID | Found   |
|---:|----------:|:--------|
|  0 |   3514030 | False   |
|  1 |   3478782 | False   |
|  2 |   3530164 | False   |
|  3 |   3583227 | False   |
|  4 |   3523199 | False   |
|  5 |   3476682 | False   |
|  6 |   3514948 | False   |
|  7 |   3558054 | False   |
|  8 |   3581141 | False   |
|  9 |   3506725 | False   |
| 10 |   3583368 | False   |
| 11 |   3553342 | False   |
| 12 |   3526826 | False   |
| 13 |   3478561 | False   |
| 14 |   3464869 | False   |
| 15 |   3534820 | False   |
| 16 |   3450629 | False   |
| 17 |   3491361 | False   |
| 18 |   3503878 | False   |
| 19 |   3509359 | False   |